.BookCall-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 5rem;
}

.book-call-div-1 h4 {
    font-size: 1.9rem;
    padding-bottom: 0.5rem;
}

.book-call-div-1 h6 {
    opacity: 0.7;
    font-size: 1rem;
    padding-bottom: 1rem;
}

.book-call-div-1 p {
    font-size: 1rem;
    opacity: 0.8;
    padding-right: 5rem;
}

.book-call-div-2 h5 {
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

.book-call-div-2 .book-flex div {
    margin-bottom: 0.5rem;
}

.book-flex {
    display: grid;
}

.book-label {
    padding-left: 1rem;
    margin-bottom: 1rem;
}

.book-text-box {
    margin: 1rem 2rem;
    height: 5rem;
    resize: none;
    padding: 0.3rem;
}
.book-email{
    height: 2rem;
    margin: 1rem 2rem;
    padding: 0 0.3rem;
}
.book-btn {
    width: 100px;
    justify-self: center;
    font-size: 1.3rem;
    text-align: center;
    background-color: #1c9bef;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 0.3rem 1rem;
}


@media (max-width:660px) {
    .BookCall-div{
        padding: 0rem 2rem;
    }
    .book-call-div-1 p{
        padding: 0;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid black;
    }
}

@media (max-width:515px) {
    .book-call-div-1 h4{
        font-size: 1.4rem;
    }
   .BookCall-div{
    grid-template-columns: 1fr;
    padding: 0.5rem;
   }
   
}